/** ------------------------------------------------------------------
						Header Area
------------------------------------------------------------------ **/
.header_area {
	background: #FFF;
	box-shadow: 0px 13px 28px 0px rgba(0, 0, 0, 0.05);
}
.header_top_area {
	border-bottom: 1px solid rgba(0, 0, 0, 0.10);
	padding: 16px 0;
}
.header_social {}
.header_social ul{
	list-style: none;
}
.header_social ul li{
	float: left;
	margin-right: 26px;
}
.header_social ul li:last-child{
	margin-right: 0;
}
.header_social ul li a{
	color: #000;
	font-size: 14px;
}
.header_social ul li a svg{
	float: left;
}
.header_social ul li a span{
	margin-left: 7px;
	line-height: 1;
	float: left;
}
.header_social ul li a:hover{
	opacity: 0.6;
}
.header_top_menu {
	float: right;
}
.header_top_menu ul {
	list-style: none;
}
.header_top_menu ul li{
	float: left;
	margin-right: 18px;
	padding-right: 18px;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
}
.header_top_menu ul li:last-child{
	margin-right: 0;
	padding-right: 0;
	border-width: 0;
}
.header_top_menu ul li a{
	color: #000;
	font-size: 14px;
}
.header_top_menu ul li a svg{
	float: left;
}
.header_top_menu ul li a span{
	margin-left: 7px;
	line-height: 1;
	float: left;
}
.header_top_menu ul li a:hover{
	opacity: 0.6;
}
.header_bottom_area {
	padding: 17px 0;
}
.header_bottom_logo {}
.header_bottom_logo img{
	height: 44px;
	width: auto;
}
.header_bottom_btn svg{
	display: none;
}
.header_bottom_btn {
	margin-top: 1px;
	margin-left: 46px;
}
.header_bottom_btn a{
	border-radius: 5px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%), #F67905;
	font-size: 16px;
	color: #fff;
	padding: 9px 30px;
	display: block;
}
.header_bottom_btn a:hover{
	opacity: 0.6;
}
.header_bottom_menu {
	margin-top: 10px;
}
.header_bottom_menu ul{
	list-style: none;
}
.header_bottom_menu ul li{
	float: left;
	margin-right: 40px;
}
.header_bottom_menu ul li:last-child{
	margin-right: 0;
}
.header_bottom_menu ul li.menu_item_active a{
	color: #F67905;
}
.header_bottom_menu ul li a{
	color: #000;
	font-size: 16px;
}
.header_bottom_menu ul li a:hover{
	opacity: 0.6;
}
.header_userD {
	margin-top: 7px;
	padding-left: 27px;
	margin-left: 27px;
	position: relative;
}
.header_userD:before {
	content: '';
	position: absolute;
	background: rgba(0, 0, 0, 0.15);
	top: 50%;
	left: 0;
	height: 22px;
	width: 1px;
	transform: translate(0, -50%);
}
.header_userD a:hover{
	opacity: 0.6;
}
.header_userD img {
	height: 34px;
	width: auto;
	border-radius: 50%;
}
.header_userD span {
	color: #000;
	font-size: 16px;
	margin-right: 11px;
}


/** ------------------------------------------------------------------
						Footer
------------------------------------------------------------------ **/
.mobileview {
	display: none;
}
.footer_area {
	background-color: #001D3F;
	background-image: url(../images/footer-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 65px 0;
}
.col-center {
	text-align: right;
}
.col-center .footer_widget > div {
	text-align: left;
}
.footer_widget {
	display: inline-block;
}
.footer_widget_img {}
.footer_widget_img img{
	height: 41px;
	width: auto;
}
.footer_widget_des {
	margin-top: 30px;
}
.footer_widget_des p{
	color: #FFF;
	font-size: 16px;
	line-height: 170%;
}
.footer_widget_copyright {
	color: #FFF;
	font-size: 16px;
	line-height: 170%;
	margin-top: 57px;
}
.footer_widget_title h2 {
	color: #FFF;
	font-size: 18px;
	font-weight: 900;
	line-height: 29px; /* 161.111% */
}
.footer_widget_menu {}
.footer_widget_menu ul{
	list-style: none;
}
.footer_widget_menu ul li {
	margin-bottom: 18px;
}
.footer_widget_menu ul li:last-child{
	margin-bottom: 0;
}
.footer_widget_menu ul li.menu_item_active a{
	color: #F67905;
}
.footer_widget_menu ul li a{
	color: #fff;
	font-size: 16px;
}
.footer_widget_menu ul li a:hover{
	opacity: 0.6;
}
.footer_widget_location {}
.footer_widget_location p{
	color: #FFF;
  font-size: 16px;
  line-height: 170%;
  margin-top: 7px;
}
.footer_social {
	margin-top: 7px;
}
.footer_social ul{
	list-style: none;
}
.footer_social ul li{
	float: left;
	margin-right: 34px;
}
.footer_social ul li:last-child {
	margin-right: 0;
}
.footer_social ul li a{}
.footer_social ul li a path{
	fill: #fff !important;
}
.footer_social ul li a:hover {
	opacity: 0.6;
}
.footer_widget2 {
	margin: 32px 0;
}
.footer_widget2 a {
	font-size: 16px;
	color: #fff;
}
.footer_widget2 a svg {
	float: left;
	margin-right: 9px;
	margin-top: 2px;
}
.footer_widget2 a span{
	float: left;
}
.footer_widget_menu {
	margin-top: 13px;
}



/** ------------------------------------------------------------------
						Homepage
------------------------------------------------------------------ **/
.home_hero_area {}
.home_hero_area .container{
	max-width: 1100px;
}
.home_hero_slider_wrapper {}
.home_hero_slider_main {}
.home_hero_single {}
.slick-current a{
	transform: scale(1) !important;
}
.home_hero_single a{
	display: block;
	transform: scale(0.95);
}
.home_hero_area .slick-dots {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translate(-50%, 0);
	background: #fff;
	padding: 7px 10px;
	border-radius: 5px;
	list-style: none;
}
.home_hero_area .slick-dots li {
	transition: all 0.2s;
	float: left;
	border-radius: 7px;
	background: rgba(0, 0, 0, 0.20);
	height: 7px;
	width: 7px;
	margin-right: 8px;
	cursor: pointer;
	margin-top: 1px;
}
.home_hero_area .slick-dots li:hover {
	background: #000;
}
.home_hero_area .slick-dots li:last-child {
	margin-right: 0;
}
.home_hero_area .slick-dots li.slick-active {
	background: #F67905;
	height: 9px;
	width: 9px;
	margin-top: 0;
}
.home_hero_single img {
	width: 100%;
	height: auto;
	border-radius: 7px;
}
.home_promo_area {
	text-align: center;
}
.home_single_promo {}
.home_single_promo_img {}
.home_single_promo_img img{
	height: 50px;
	width: auto;
}
.home_single_promo_details {
	margin-top: 30px;
}
.home_single_promo_details h2{
	color: #000;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 135%;
}
.home_single_promo_details p{
	color: #666;
	font-size: 16px;
	font-style: normal;
	line-height: 168.75%;
	margin-top: 9px;
	max-width: 310px;
	margin-left: auto;
	margin-right: auto;
}
.home_uevent_area {}
.section_title {
	margin-bottom: 35px;
}
.section_title h2{
	color: #000;
	font-size: 27px;
	font-weight: 900;
	line-height: 131%; /* 35.37px */
	text-transform: uppercase;
}
.section_title_center {
	text-align: center;
}
.home_uevent_area .row_grid {
	margin: -20px -15px;
}
.home_uevent_area .row_grid > div {
	padding: 20px 15px;
}
.home_single_event {
	border-radius: 8px;
background: #FFF;
box-shadow: 0px 7px 25px 0px rgba(0, 0, 0, 0.09);
}
.home_single_event_img {}
.home_single_event_img img{
	width: 100%;
	height: auto;
}
.home_single_event_details1 {
	padding: 19px 29px;
	
}
.home_single_event_details1 h2 {
	color: #000;
	font-size: 20px;
	font-weight: 700;
	line-height: 135% ; /* 135% */
	text-transform: uppercase;
}
.home_single_event_details1 ul{
	list-style: none;
	margin-top: 6px;
}
.home_single_event_details1 ul li{
	float: left;
	color: #666;
	font-size: 16px;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	margin-right: 17px;
	padding-right: 17px;
}
.home_single_event_details1 ul li:last-child{
	border-right: 0 solid rgba(0, 0, 0, 0.15);
	margin-right: 0;
	padding-right: 0;
}
.home_single_event_details1 ul li svg{
	float: left;
	margin-right: 7px;
}
.home_single_event_details1 ul li span{
	line-height: 20px;
	float: left;
}
.home_single_event_details2 {
	display: flex;
	justify-content: space-between;
	padding: 22px 29px;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.25);
	border-top: 1px dashed rgba(0, 0, 0, 0.25);
}
.home_single_event_details2_shortbox {}
.home_single_event_details2_shortbox h3{
	color: #000;
	font-size: 14px;
	font-weight: 700;
	line-height: 164.286%; /* 164.286% */
}
.home_single_event_details2_shortbox p{
	color: #666;
font-size: 16px;
line-height: 143.75%; /* 143.75% */
margin-top: 3px;
}
.home_single_event_action {
	padding: 20px 29px;
}
.home_single_event_action_main {}
.home_single_event_action_main a:hover {
	opacity: 0.6;
}
.home_single_event_action_main a{
	display: inline-block;
	font-size: 16px;
	line-height: 19px;
	border-radius: 5px;
	margin-right: 7px;
}
.home_single_event_action_main a:last-child{
	margin-right: 0;
}
.buyticket {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%), #F67905;
	color: #FFF;
	font-size: 16px;
	line-height: 19px;
}
.buyticket svg{
	float: left;
	padding: 10px;
	box-sizing: content-box;
	border-right: 1px dashed #fff;
}
.buyticket span{
	float: left;
	padding: 0 16px;
	margin-top: 11px;
	color: #FFF;
}
.addtowishlist {
	font-size: 16px;
	line-height: 19px;
	border: 1px solid rgba(0, 0, 0, 0.10);
	padding: 9px 16px;
	color: #ccc;
}
.addtowishlist span{
	float: left;
	color: #ccc;
}
.addtowishlist svg{
	float: left;
	margin-right: 10px;
}
.home_single_event_action_main_readmore {
	margin-top: 9px;
}
.home_single_event_action_main_readmore a{
	color: #F67905;
	font-size: 16px;
	line-height: 19px;
	display: inline-block;
}
.home_single_event_action_main_readmore a:hover{
	opacity: 0.6;
}
.home_single_event_action_main_readmore span{
	float: left;
}
.home_single_event_action_main_readmore svg {
	float: left;
	margin-left: 7px;
	margin-top: 2px;
}
.addtowishlist_active {}
.addtowishlist_active path {
	fill: #FF4105 !important;
}
.addtowishlist_active {
	border-color: #FF4105 !important;
	color: #FF4105 !important;
}
.addtowishlist_active span{
	color: #FF4105 !important;
}
.home_signup_area {}
.row_middle {
	align-items: center;
}
.home_signup_img {
	padding-right: 51px;
}
.home_signup_img img{
	width: 100%;
	height: auto;
	border-radius: 8px;
}
.home_signup_img_details {}
.home_signup_img_details_main {}
.home_signup_img_details_main h2{
	color: #000;
	font-size: 27px;
	font-weight: 900;
	line-height: 131%; /* 35.37px */
	text-transform: uppercase;
}
.home_signup_img_details_main p{
	color: #666;
	font-size: 16px;
	line-height: 170%; /* 27.2px */
	margin-top: 20px;
}
.home_signup_img_details_main ul {
	list-style: none;
	margin-top: 22px;
}
.home_signup_img_details_main ul li {
	color: #666;
	font-size: 16px;
	line-height: 170%;
	margin-bottom: 10px;
	background-image: url(../images/check.svg);
	background-repeat: no-repeat;
	background-position: top 8.5px left;
	padding-left: 22px;
}
.home_signup_img_details_main ul li:last-child{
	margin-bottom: 0;
}
.section_btn {
	margin-top: 30px;
}
.section_btn a{
	border-radius: 5px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%), #F67905;
	font-size: 16px;
	color: #fff;
	padding: 9px 30px;
	display: inline-block;
}
.section_btn a:hover{
	opacity: 0.6;
}
.home_signup_img_details {
	max-width: 490px;
}
.home_past_event_area {
	background: #001D3F;
}
.home_past_event_area .section_title h2 {
	color: #fff;
}
.home_past_event_wrapper {}
.home_past_event_main {}
.home_past_event_single {}
.home_past_event_single_img {}
.home_past_event_single_img img{
	width: 100%;
	height: auto;
}
.home_past_event_single_details {
	padding: 18px;
}
.home_past_event_single_details h3 {
	color: #000;
font-size: 16px;
font-weight: 700;
line-height: 150%;
text-transform: uppercase;
}
.home_past_event_single_details h4 {
	color: #666;
	font-family: Lato;
	font-size: 16px;
	font-weight: 500;
	line-height: 143.75%; /* 143.75% */
	margin-top: 3px;
}
.home_past_event_single_bg {
	background: #fff;
	border-radius: 7px;
}
.home_past_event_area .slick-list {
	margin: 0 -15px;
}
.home_past_event_area .slick-slide {
	padding: 0 15px;
}
.user_login_signup_area_open {
	margin-top: 0 !important;
	visibility: visible !important;
	opacity: 1 !important;
}
.user_login_signup_area {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	width: 401px;
	background: #fff;
	border-radius: 5px;
	margin-top: 100px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
}
.user_login_box_wrapper {}
.user_login_box_header {
	border-bottom: 1px solid rgba(0,0,0,0.15);
	padding: 19px 25px 14px 25px;
	position: relative;
}
.user_login_box_header h2{
	color: #000;
	font-size: 20px;
	font-weight: 900;
	line-height: 131%;
}
.user_login_box_header button{
	position: absolute;
	background: transparent;
	padding: 0;
	top: 19px;
	right: 25px;
}
.user_login_box_content {
	padding: 20px 25px 25px 25px;
}
.user_login_box_content form{}
.user_login_box_content form .row{
	margin: -10px -7.5px;
}
.user_login_box_content form .row > div{
	padding: 10px 7.5px;
}
.user_login_box_content_single {}
.user_login_box_content_single label{
	color: #000;
	font-family: Gilroy;
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
	margin-bottom: 10px;
	display: block;
	width: 100%;
}
.user_login_box_content_single input {
	border-radius: 5px;
	background: #F2F2F2;
	font-size: 16px;
	padding: 11.5px 20px;
	border-width: 0;
	width: 100%;
	border-radius: 5px;
}
.user_login_box_content_single_checkbox {
	position: relative;
	display: inline-block;
}
.user_login_box_content_single_checkbox input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.user_login_box_content_single_checkbox label {
	color: #000;
	font-family: Gilroy;
	font-size: 14px;
	font-weight: 500;
	line-height: 14px; /* 100% */
	cursor: pointer;
	position: relative;
}
.user_login_box_content_single_checkbox input:checked + label:before {
    background: #f67905;
    border-color: #f67905;
}
.user_login_box_content_single_checkbox label:before {
	width: 18px;
	height: 18px;
	content: '';
	border-radius: 5px;
	border: 1px solid #CCC;
	display: inline-block;
	vertical-align: middle;
	margin-right: 7px;
	margin-top: -4px;
}
.user_login_box_content_single_checkbox svg {
	position: absolute;
	top: 2px;
	left: 5px;
}
.user_login_box_content_single_btn {
	margin-top: -10px;
}
.user_login_box_content_single_btn button {
	border-radius: 5px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%), #F67905;
	font-size: 16px;
	color: #fff;
	padding: 11.5px 20px;
	display: block;
	font-weight: 700;
	width: 100%;
}
.user_login_box_bottom {
	margin-top: 20px;
	text-align: center;
}
.user_login_box_bottom p {
	font-size: 14px;
	line-height: 14px;
}
.user_login_box_bottom p a {
	margin-left: 3px;
}
.user_login_box_bottom a:hover{
	opacity: 0.6;
}
.user_login_box_bottom a{
	color: #000;
	font-family: Gilroy;
	font-size: 14px;
	font-weight: 500;
	text-decoration-line: underline;
}
.user_login_box_social_login {
	padding-top: 20px;
	margin-top: 20px;
	border-top: 1px dashed #ccc;
}
.user_login_box_social_login ul {
	list-style: none;
}
.user_login_box_social_login ul li{
	margin-bottom: 12px;
}
.user_login_box_social_login ul li:last-child{
	margin-bottom: 0;
}
.user_login_box_social_login ul li a:hover {
	opacity: 0.6;
}
.user_login_box_social_login ul li a {
	border-radius: 5px;
	border: 2px solid rgba(0, 0, 0, 0.10);
	background: #FFF;
	display: block;
	color: #000;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 18px;
	position: relative;
	padding: 11px 20px;
}
.user_login_box_social_login ul li a svg{
	position: absolute;
	top: 50%;
	left: 14px;
	transform: translate(0, -50%);
}
.user_login_box_social_login ul li a span{}
.user_signup_box_wrapper .user_login_box_content_single_btn {
	margin-top: 0;
}
.user_signup_box_wrapper {
	display: none;
}
.user_menu_area_open {
	right: 0 !important;
}
.user_menu_area {
	position: fixed;
	top: 0;
	right: -100%;
	background: #fff;
	width: 100%;
	max-width: 400px;
	height: 100%;
	overflow: auto;
	z-index: 9999;
	padding-bottom: 120px;
	transition: 0.2s;
}
.user_menu_wrapper {
	height: 100%;
	overflow: auto;
}
.user_menu_head {
	background: #001D3F;
	padding: 19px 26px 26px 26px;
}
.user_menu_head button {
	background: transparent;
	padding: 0;
}
.user_menu_head_username_pic {
	margin-top: 10px;
	
}
.user_menu_head_username {
	margin-top: 12px;
	width: calc(100% - 100px);
}
.user_menu_head_username h2{
	color: #FFF;
	font-size: 20px;
	font-weight: 900;
	line-height: 90%;
}
.user_menu_head_username_edit {
	margin-top: 6px;
}
.user_menu_head_username_edit a:hover{
	opacity: 0.6;
}
.user_menu_head_username_edit svg{
	vertical-align: middle;
}
.user_menu_head_username_edit span{
	color: #FFF;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 18px; /* 112.5% */
	margin-left: 4px;
	vertical-align: middle;
}
.user_menu_head_img {
	width: 73px;
}
.user_menu_head_img img{
	width: auto;
	height: 73px;
	border-radius: 50%;
}
.user_menu_content {
	padding: 30px 26px 0 26px;
}
.user_menu_content ul{
	list-style: none;
}
.user_menu_content ul li{
	margin-bottom: 22px;
	padding-bottom: 22px;
	border-bottom: 1px dashed #bbb;
	overflow: hidden;
	width: 100%;
	display: block;
}
.user_menu_content ul li:last-child{
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0 dashed #bbb;
}
.user_menu_content ul li a {
	display: block;
	position: relative;
	overflow: hidden;
	padding-right: 35px;
}
.user_menu_content ul li a:hover {
	opacity: 0.6;
}
.user_menu_content ul li a > svg{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);
}
.user_menu_content ul li a:hover{}
.user_menu_content_icon svg{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 22px !important;
	width: 22px !important;
}
.user_menu_content_icon {
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.10);
	background: #FFF;
	width: 52px;
	height: 52px;
	position: relative;
	float: left;
}
.user_menu_content_details {
	float: left;
	width: calc(100% - 52px);
	padding-left: 15px;
	margin-top: 5px;
}
.user_menu_content_details h2{
	color: #000;
	font-size: 16px;
	font-weight: 600;
	line-height: 112.5%; /* 112.5% */
}
.user_menu_content_details p{
	color: #666;
	font-size: 14px;
	font-weight: 400;
	line-height: 128.571%; /* 128.571% */
	margin-top: 6px;
}
.user_menu_logout {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #fff;
	padding: 26px 26px 22px 26px;
	z-index: 1;
}
.user_menu_logout a {
	color: #E50B0B;
	font-size: 18px;
	font-weight: 600;
	line-height: 18px;
	border-radius: 5px;
	border: 1px solid #E50B0B;
	display: block;
	text-align: center;
	padding: 18px 15px;
}
.mobile_bottom_navigation_area {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #FFF;
box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.11);
z-index: 999;
display: none;
}
.single_mobile_navigation {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 20px;
}
.single_mobile_navigation_title {
	margin-top: 10px;
	color: #000;
	font-family: Gilroy;
	font-size: 13px;
	font-weight: 600;
	line-height: 130.769% ; /* 130.769% */
}
.single_mobile_navigation a {
	display: inline-block;
	opacity: 0.3;
}
.single_mobile_navigation a.active {
	opacity: 1;
}
.single_mobile_navigation a.active svg path {
	fill: #F67905 !important;
}
.single_mobile_navigation a.active .single_mobile_navigation_title {
	color: #F67905;
}
.mobile_menu_box_area > button {
	position: absolute;
	background: transparent;
	padding: 0;
	top: 37px;
	right: 30px;
}
.mobile_menu_box_area_open {
	left: 0 !important;
}
.mobile_menu_box_area {
	background: #fff;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	overflow: auto;
	position: fixed;
	z-index: 9999;
	padding: 30px;
	transition: all 0.35s;
}
.mobile_menu_box_content {}
.mobile_menu_box_content_img {
	margin-bottom: 40px;
}
.mobile_menu_box_content_img img {
	height: 44px;
	width: auto;
}
.mobile_menu_box_content_menu {}
.mobile_menu_box_content_menu ul{
	list-style: none;
}
.mobile_menu_box_content_menu ul li.menu_item_active a{
	color: #F67905;
}
.mobile_menu_box_content_menu ul li{
	margin-bottom: 30px;
}
.mobile_menu_box_content_menu ul li:last-child{
	margin-bottom: 0;
}
.mobile_menu_box_content_menu ul li a{
	color: #000;
	font-weight: 600;
	font-size: 19px;
}
.mobile_menu_box_content_menu ul li a:hover{}


/** Event Page **/
.event_hero_area .container {
	max-width: 100% !important;
}
.event_hero_area .home_hero_slider_wrapper {
	padding-left: 65px;
	padding-right: 65px;
}
.event_hero_area .home_hero_single a {
	transform: none !important;
}
.event_hero_area .slick-list {
	margin-left: -12.5px;
	margin-right: -12.5px;
}
.event_hero_area .slick-slide {
	padding-left: 12.5px;
	padding-right: 12.5px;
}