/** ------------------------------------------------------------------
							Wrapper Screen
------------------------------------------------------------------ **/
@media only screen and (min-width: 1700px) {
	.home_hero_area .container {
		max-width: 1560px;
	}
	}
	@media only screen and (max-width: 1200px) {
	
	}
	
	
	/** ------------------------------------------------------------------
								Tab Screen
	------------------------------------------------------------------ **/
	@media only screen and (max-width: 991px) {
	
	}
	
	/** ------------------------------------------------------------------
								Mobile Screen
	------------------------------------------------------------------ **/
	@media only screen and (max-width: 768px ) {
	.header_top_area {
		display: none;
	}
	.header_bottom_area {
		padding: 20px 0;
	}
	.header_bottom_logo img {
		height: 37px;
	}
	.header_userD {
		margin-top: 1.5px;
		padding-left: 0;
		margin-left: 0;
		position: relative;
	}
	.header_userD:before {
		display: none;
	}
	.header_userD span {
		font-size: 14px;
		margin-right: 8px;
	}
	.header_bottom_menu {
		display: none;
	}
	.header_bottom_btn {
		margin-top: 1px;
		margin-left: 0;
	}
	.header_bottom_btn a{
		overflow: hidden;
		display: block;
		padding: 7px 15px 7px 10px;
		font-size: 14px;
	}
	.header_bottom_btn svg {
		display: block;
		float: left;
		margin-right: 5px;
		margin-top: 2px;
	}
	.header_bottom_btn span {
		float: left;
	}
	.header_fix {
		height: 18px !important;
	}
	.header_space {
		height: 77px;
	}
	.header_area {
		box-shadow: 0px 13px 28px 0px rgba(0, 0, 0, 0.09);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 999;
	}
	.home_hero_area .slick-dots {
		display: none !important;
	}
	.home_hero_area .container {
		max-width: 1100px;
		padding-left: 32px;
		padding-right: 32px;
	}
	.divider_height {
		height: 40px !important;
	}
	.home_promo_area {
		text-align: center;
		overflow: auto;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	.home_promo_area::-webkit-scrollbar {
		width: 0 !important;
		display: none;
	}
	.home_promo_area .row {
		margin-right: 0;
		margin-left: 0;
	}
	.home_promo_area .row > div {
		padding-right: 0;
		padding-left: 0;
	}
	
	.home_promo_area .row > div > div{
		padding-right: 30px;
		margin-right: 30px;
		padding-left: 0;
		border-right: 1px solid rgba(0,0,0,.1);
	}
	.home_promo_area .row > div:last-child > div{
		padding-right: 0;
		margin-right: 0;
		border-width: 0;
	}
	.home_promo_area .container {
		max-width: 1200px;
		text-align: left;
		width: 960px !important;
	}
	.home_single_promo_img img {
		height: 38px;
	}
	.home_single_promo_details {
		margin-top: 21px;
	}
	.home_single_promo_details h2 {
		font-size: 16px;
	}
	.home_single_promo_details p {
		font-size: 13px;
		margin-top: 7px;
	}
	.home_uevent_area .section_title h2 {
		text-align: left;
	}
	.section_title {
		margin-bottom: 20px;
	}
	.section_title h2 {
		font-size: 20px;
	}
	.home_single_event {
		border-radius: 5px;
	}
	.home_single_event_details1 h2 {
		font-size: 16px;
	}
	.home_single_event_details1 {
		padding: 14px 16px;
	}
	.home_single_event_details1 ul li svg {
		height: 16px !important;
		width: auto !important;
		margin-top: 3px;
		margin-right: 6px;
	}
	.home_single_event_details1 ul li {
		font-size: 14px;
		margin-right: 10px;
		padding-right: 10px;
	}
	.home_single_event_details1 ul {
		margin-top: 8px;
	}
	.home_single_event_details2 {
		padding: 12px 16px;
	}
	.home_single_event_details2_shortbox h3 {
		font-size: 12px;
	}
	.home_single_event_details2_shortbox p {
		font-size: 12px;
	}
	.home_single_event_action_main a {
		font-size: 13px;
	}
	.buyticket svg {
		width: 13px !important;
		height: 13px !important;
		padding: 12px 8px;
	}
	.buyticket span {
		padding: 0 8px;
		margin-top: 9px;
	}
	.home_single_event_action {
		padding: 14px 16px;
	}
	.addtowishlist svg {
		margin-right: 6px;
		width: 15px !important;
		height: 15px !important;
		margin-top: 3px;
	}
	.addtowishlist {
		padding: 8px 8px;
	}
	.home_single_event_action_main a {
		margin-right: 3px;
	}
	.home_single_event_action_main_readmore a {
		font-size: 13px;
	}
	.home_single_event_action_main_readmore svg {
		float: left;
		margin-left: 5px;
		margin-top: 5px;
		width: 10px !important;
		height: 10px !important;
	}
	.home_past_event_wrapper {
		padding-right: 100px;
	}
	.home_past_event_area .slick-list {
		margin: 0 -10px;
	}
	.home_past_event_area .slick-slide {
		padding: 0 10px;
	}
	.home_past_event_single_details h4 {
		font-size: 14px;
	}
	.home_signup_img {
		padding-right: 0;
		margin-bottom: 32px;
	}
	.home_signup_img_details {
		max-width: 100%;
	}
	.home_signup_img_details_main h2 {
		font-size: 20px;
	}
	.home_signup_img_details_main p {
		margin-top: 12px;
	}
	.col-center {
		text-align: left;
	}
	.footer_area .row {
		margin-top: -17.5px;
		margin-bottom: -17.5px;
	}
	.footer_area .row > div{
		padding-top: 17.5px;
		padding-bottom: 17.5px;
	}
	.desktopview {
		display: none;
	}
	.mobileview {
		display: block;
	}
	.footer_widget_copyright {
		margin-top: 35px;
	}
	.footer_area {
		padding: 40px 0 120px 0;
	}
	.mobile_bottom_navigation_area {
		display: block;
	}
	}
	
	
	@media only screen and (max-width: 500px ) {
	
	}